# Dependencies
**/node_modules

# Build outputs
**/build
**/.next
**/dist

# Environment files
**/.env
**/.env.local
**/.env.production

# Logs
**/npm-debug.log*
**/*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea